$colorBlack: #08171e;
$colorDarkBlue: #042b44;
$colorBlue: #096b90;
$colorLightBlue: #a1ccdc;
$colorLightBlue2: #71b7d5;

html {
  min-height: 100%;
}

h1 {
  text-align: center;
  width: 100%;
  padding: 30px;
  color: white;
}

h2 {
  text-align: center;
  width: 100%;
  padding: 30px;
  color: white;
}
a, label, input {
  font-family: Sofia Pro;
}
.navbar a:hover {
  text-decoration: unset;
  color: $colorLightBlue;
}
p {
  font-size: 18px;
  color: white;
  font-family: Sofia Pro;

}
.navbar {
  background-color: #08171e;
  position: fixed;
  z-index: 999999;
  width: 100%;
}
a.navbar-brand {
  font-size: 22px !important;
}

.navbar a {
  color: white;
  font-size: 18px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0 20px;
}

.container-fluid {
  max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: #08171e;
  min-height: 100%;
}

h5 {
  color: white;
}

.card-body {
  color: #424242;
}

.cardfooter {
  width: 50%;
  float: left;
}

.btn.btn-primary {
  float: right;
}

.projdetails {
  margin: 0 auto;
}

.about {
  margin-top: 100px;
}

.card {
  background-color: transparent;
  border: none;
  margin-top: 20px;
}

.contactfont {
  color: white;
}

.contactdiff {
  display: flex;
  flex-wrap: wrap;
}

.img-fluid {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.aboutimg {
  text-align: center;
  img {
    object-fit: cover;
    max-width: 100%;
  }
}

.card {
  min-height: 440px;
}

.container {
  max-width: 1500px;
}

h1 {
  font-size: 8rem;
  font-family: Sofia Pro, sans-serif;

  span {
    background: linear-gradient(0.25turn, $colorBlue, $colorLightBlue, White);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-size: 8rem;
  font-family: Sofia Pro, sans-serif;
}

.icon1 {
  position: absolute;
  transform: translate3d(-29.2195px, 23.3343px, 0px);
  top: 90px;
  left: 3.25vw;
  div {
    transition: all .5s;
    -webkit-transition: all .5s; /** Chrome & Safari **/
    -moz-transition: all .5s; /** Firefox **/
    -o-transition: all .5s; /** Opera **/
    background: linear-gradient(156.8deg, #fff 15%, #79b0e8 75.42%);
    width: 80px;
    height: 80px;
    transform-origin: 100% 75%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
}
.icon2 {
  position: absolute;
  transform: translate3d(-29.2195px, 23.3343px, 0px);
  top: 20vh;
  right: 3.25vw;
  div {
    transition: all .5s;
    -webkit-transition: all .5s; /** Chrome & Safari **/
    -moz-transition: all .5s; /** Firefox **/
    -o-transition: all .5s; /** Opera **/
    background: linear-gradient(
      37.94deg,
      rgba(16, 8, 74, 0) 16.94%,
      #83a4ff 87.08%
    ); 
    width: 40px;
    height: 40px;
    transform-origin: 100% 75%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
}
.icon3 {
  position: absolute;
  transform: translate3d(-29.2195px, 23.3343px, 0px);
  top: 50vh;
  right: 6vw;
  div {
    transition: all .5s;
    transition-delay: 0;
    -webkit-transition: all .5s; /** Chrome & Safari **/
    -moz-transition: all .5s; /** Firefox **/
    -o-transition: all .5s; /** Opera **/
    background: white;
    width: 20px;
    height: 20px;
    transform-origin: 100% 75%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
}

.section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  .row {
    width: 100%;
    justify-content: center;
    .col-md-4 {
      text-align: center;
      max-width: 400px;
      padding: 0 50px;
      h3 {
        color: white;
      }
    }
  }
}

.section2 {
  height: 300vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//@import compass // n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(4000)}px #{random(4000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(4000)}px #{random(4000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(200);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

#stars {
  width: 1.3px;
  height: 1.3px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 4000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 4000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 200s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 4000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.singleproject {
  height: 100vh;
  display: flex;
  align-items: center;
  .projectitem {
    width: 100%;
  }
  .row {
    align-items: center;
  }
  &:nth-child(even) {
    .row {
      flex-direction: row-reverse;
    }
    a {
      .projectimgcontainer {
        left: 0;
      }
      .projectimg {
        left: 0;
      }
    }
  }
  a {
    &:hover {
      text-decoration: unset;
    }
    color: white;
    text-align: left;
    .shorttitle {
      color: #9c9c9c;
      font-size: 2rem;
    }
    .title {
      font-size: 5rem;
      text-align: left;
      padding: 0;
      justify-content: left;
    }
    .truncate {
      font-size: 1rem;
    }
    .col-4 {
      z-index: 1;
      height: 75vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .tech {
        display: flex;
        margin-top: 150px;
        img {
          height: 50px;
          padding: 0 10px;
        }
      }
    }
    .col-8 {
      position: relative;
      height: 75vh;

      &:hover {
        .projectimg {
          transition: all 0.5s ease-in-out;
          transform: scale(0.95);
        }
      }
      .projectimgcontainer {
        transition: all 0.5s ease-in-out;
      }
    }
    .projectimg {
      padding: 50px 80px;
      background-color: $colorBlue;
      position: absolute;
      width: calc(100% + 0px);
      right: 0;
      height: 75vh;
      box-shadow: 5px 10px 20px 20px #00000045;
      overflow: hidden;
      img {
        box-shadow: 5px 10px 20px 20px #00000045;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .projectlink {
      font-size: 2rem;
      margin-top: 50px;
    }
  }
}

.contact {
  background-color: $colorBlue;
  padding: 100px 0;
  color:white; 
  margin-top: 200px;
  form {
    max-width: 750px;
    margin: 0 auto;
    button {
      padding: 8px 30px;
      background-color: $colorBlack;
      border-color: $colorBlack;
    }
  }
}

.skills {
  margin-top: 150px;
  color:white;
  h3 {
    max-width: 400px;
    font-size: 45px;
    font-weight: bold;
  }
  .col-lg-8 {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 25%;
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      box-shadow: inset 0 0 0 1px $colorLightBlue;

      box-sizing: border-box;
      font-weight: bold;
      font-size: 20px;
      img {
        height: 50px;
        object-fit: cover;
        display: block;
        margin: 20px auto 0;
      }
      &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}

.projects {
  .projectcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
    .single-project {
      width: calc(100% / 3);
      min-width: 400px;
      overflow: hidden;
      padding: 10px 10px;
      //height: 400px;
      .projectitem {
        border: 1px solid grey;
        box-shadow: 0 0 25px 5px $colorBlack;

        img {
          height: 250px;
          width:100%;
          object-fit: cover;
        }
      }
    }
  }
}

.projectimgcontainer {
  .projectimg {
    position: relative;
    &:hover {
      .bg {
        display: block;
        transition: opacity 1s ease-out;
        opacity: 0.5;
      }
      .projecthover {
        display: block;
      }
    }
    .bg {
      display: none;
      background-color: #08171e;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: opacity 1s ease-out;
    }
    .projecthover{
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .projectname {
          color: white;
          h3 {
            font-size: 40px;
          }
      }
      .projectlink {
        font-size: 20px;
        color: white;
      }
    }
  }
}

.singlepage-project {
  img {
    height: 500px;
    object-fit: cover;
    object-position: top;
  }
}

#projects, #about, #tech, #contact {
  padding-top: 50px;
  
}

#tech {
  padding-top: 100px;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

.App {
  overflow: hidden;
}

.singlepage-project {
  margin-top: 50px;
  .tech {
    display: flex;
    justify-content: center;
    img {
      height: 50px;
      width: 50px;
      margin: 50px 10px -20px;
    }
  }
  p {
    font-size: 22px;
    line-height: 30px;
  }
}

.fadeIn {
  animation: fade;
}

@keyframes fade {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}

section {
  padding: 16px;
  margin: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .125);
  height: 64px;
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}